@use 'main';

#content {
    @include main.content;
    background-color: main.$background-light;

    padding-left: 30px;

    h1 {
        padding-left: 30px;
        color: main.$highlight;
    }

    p {
        font-size: 90%;
    }

    #labels {
        position: absolute;
        width: 400px;
        cursor: default;
    }

    #values {
        position: absolute;
        top: 145px;
        left: 450px;
        width: 200px;

        input {
            background-color: main.$background-light;
            border: none;
            height: 30px;
            margin-bottom: 20px;
            font-family: "JetBrains Mono", serif;
            color: main.$font-color;
            font-size: 100%;
            width: 180px;
        }

        input:focus {
            outline: none;
        }

        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    #arrows {
        cursor: pointer;
        user-select: none;

        #add {
            @include main.arrows();
            left: 650px;

            a {
                color: main.$add-color;
            }
        }

        #sub {
            @include main.arrows();
            left: 700px;
            a {
                color: main.$sub-color;
            }
        }

        #add-2 {
            @include main.arrows();
            left: 800px;
            a {
                color: main.$add-color;
            }
        }

        #sub-2 {
            @include main.arrows();
            left: 850px;
            a {
                color: main.$sub-color;
            }
        }

        #reset {
            @include main.arrows();
            left: 975px;
            a {
                color: main.$reset-color;
            }
        }
    }

    #subinfo {
        @include main.small-text();
        position: absolute;
    }
}